services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_container
    restart: always
    ports:
      - '3000:3000'
  frontend:
    image: node:20-alpine
    container_name: frontend_dev_container
    restart: always
    ports:
      - '5173:5173'
    working_dir: /app
    environment:
      - DOCKER_ENV=true
    
    volumes:
      - ./frontend:/app
      - /app/node_modules 
    
    command: sh -c "npm install && npm run dev" 
    
    depends_on:
      - backend

volumes:
  db_data: {}