/* --- RESET I GŁÓWNY LAYOUT --- */

body {
  font-family: Lato;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 255, 255);
}

#root {
  display: flex; /* Układ: Sidebar po lewej, reszta po prawej */
  height: 100vh;
  overflow: hidden;
}

/* --- SIDEBAR (LEWY PANEL) --- */
.document-header {
  width: 210px; /* Nieco szerszy, żeby pomieścić logo */
  height: 100vh;
  background-color: rgb(18, 30, 48); /* Ciemniejszy granat jak na zdjęciu */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  flex-shrink: 0; /* Żeby sidebar się nie zgniatał */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 10;
}

/* Logo "SAIL RESERVATION" */
.brand {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
  padding-bottom: 15px;
  border-bottom: 4px solid white;
}
.brand__reservation{
  transform: translateY(-14px) translateX(-10px) rotate(-25deg);
}

.brand a {
  display: block;
  text-decoration: none;
  color: #f0c040; /* Żółty kolor logo */
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 10px;
}

/* Napis "Panel administratora" */
.brand .admin-text {
  font-size: 13px;
  color: tomato;
  position: absolute;
  bottom: 20px;
  right: 5px;
  transform: rotate(-25deg);
  text-align: center; /* Cofnięcie rotacji dla małego tekstu */
}

/* Nawigacja */
.document-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Odstęp między przyciskami */
}
.document-navigation__link{
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 20px;
  transition: 10ms ease;
  border-radius: 10px;
  cursor: pointer;
  width: 80%;
}
.document-navigation a:hover{
  color: white;
  background-color: #f0c040;
}
.document-footer{
  color: white;
}

/*MAIN PAGE*/
.main-center
{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-homepage{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.main-homepage-header{
  border-radius: 5px;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: rgb(18, 30, 48);

}
.main-homepage-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #f0c040;
}
.main-homepage-section__header{
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  width: 80%;
}
.main-homepage-section__paragraph
{

}
.main-homepage__link
{
  font-size: 30px;
  display: block;
  margin: 20px;
  background-color: #f0c040;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;

}