body{
  box-sizing: border-box;
  margin: 0;
  font-family: Lato;
  background-color: rgb(255, 255, 255);
}
#root{
  display: flex;
  overflow-y: hidden;
}
/* Header */
.document-header{
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(4, 31, 103);
  box-sizing: border-box;
  padding: 40px 10px;
  position:relative;
}
.brand{
  font-size: 2em;
  position: relative;
  margin-bottom: 20px;
}
.brand a{
  text-decoration: none;
  color: white;
}
.brand .admin-text{
  font-size: 13px;
  position: absolute;
  color:tomato;
  top: 20px;
}
.document-navigation{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.document-navigation__link{
  color: white;
  text-align: center;
  margin: 20px 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: 100ms;
  border-bottom: 2px solid transparent;
}   
.document-navigation__link:hover{
  border-bottom: 2px solid rgb(180, 1, 183);
}
Footer{
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.FajnyAdd__item{
  padding: 5px;
  position: relative;
}
.FajnyAdd__item button{
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  text-align: center;
  background-color: red;
}
